.tiptap {
    :first-child {
      margin-top: 0;
    }
  
    /* Code and preformatted text styles */
    code {
      background-color:  #E0B0FF;
      border-radius: 0.4rem;
      color: #000000;
      font-size: 0.85rem;
      padding: 0.25em 0.3em;
    }
  
    /* Link styles */
    a {
      color: #0563C1;
      cursor: pointer;
      
    &:hover {
        color: #004B87;
      }
    }
  }
  

/* Estilo geral para tabelas */
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table td,
  table th {
    border: 1px solid #ccc; /* Cor padrão da borda */
    padding: 8px;
  }
  
  /* Alinhamento da tabela */
.table-align-left {
    text-align: left;
  }
  
  .table-align-center {
    text-align: center;
  }
  
  .table-align-right {
    text-align: right;
  }
  
  /* Cores da borda da tabela */
  .table-border-red {
    border: 1px solid red;
  }
  
  .table-border-blue {
    border: 1px solid blue;
  }
  
  .table-border-green {
    border: 1px solid green;
  }
  
  /* Definir seleções e aparência da tabela */
  table {
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  th {
    background-color: #f0f0f0;
  }